.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.header__list {
  display: flex;
  gap: 8px;
}

.header__link {
  padding: 12px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.26px;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: var(--p2-color);
}

@media (max-width: 700px) {
  .header__list {
    display: none;
  }

  .header {
    justify-content: center;
  }
}
