* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: var(--bg-color);
  color: var(--s1-color);
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  scroll-behavior: smooth;
}
